@using PayrollWebApp.Models;
@using PayrollWebApp.Data;
@model IEnumerable<PayslipViewModel>;

@{
    ViewData["Title"] = "Payslip";
}

@if (TempData["PayslipPageSuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["PayslipPageSuccess"]
    </div>
}

@if (TempData["PayslipPageError"] != null)
{
    <div class="alert alert-danger">
        @TempData["PayslipPageError"]
    </div>
}

<h2>Employee Payslips</h2>

<div style="padding-bottom: 30px">
    <a asp-action="Index" asp-controller="Employees" class="btn btn-secondary">Back <i class="bi bi-arrow-90deg-left"></i></a>
    <a asp-action="Create" asp-route-employeeId="@ViewBag.EmployeeId" class="btn btn-primary">
        Create Payslip <i class="bi bi-currency-dollar"></i>
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Start Period</th>
            <th>End Period</th>
            <th>Working Days</th>
            <th>Net</th>
            <th style="text-align: center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payslip in Model)
        {
            <tr>
                <td>@payslip.FormattedDateStart</td>
                <td>@payslip.FormattedDateEnd</td>
                <td>@payslip.WorkingDaysPattern</td>
                <td>@payslip.FormattedNetPay</td>
                <td style="text-align: center">
                    <a asp-action="Edit" asp-route-id="@payslip.Id" class="btn btn-primary edit-button">Edit</a>
                    <form asp-action="Delete" asp-route-id="@payslip.Id" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@payslip.Id" />
                        <input type="hidden" name="employeeId" value="@ViewBag.EmployeeId" />
                        <button type="submit" class="btn btn-danger" 
                                onclick="return confirm('Are you sure you want to delete this payslip?');">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    const EMPLOYEE_API_URL = "@Const.API_BASE/@Const.EMPLOYEES_ENDPOINT";
    document.addEventListener('DOMContentLoaded', getEmployeeById);
</script>

<script src="~/js/site.js"></script>